[GEMINI]
api_key = YOUR_API_KEY_HERE
model = gemini-2.5-pro

[GUI_SETTINGS]
window_size = 1170x450
icon_name = image-to-textbox.ico

[LOGGING]
log-level = INFO
encoding = utf-8
log_file = app.log
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s